*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #f8f9fa;
}

/* Page de couverture */
.cover {
    background-image: url('../Samir/assets/vitrine.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px; /* Ajustez la hauteur selon vos besoins */
    position: relative;
}

/* Texte superposé */
.cover-text {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-content {
    overflow-y: auto;
}
.see-menu-btn {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: limegreen;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.footer-section:nth-child(1) {
    background-color: grey; /* Couleur de fond pour la première partie */
}


.image-slider {
    width: 30%;
    display: flex;
    margin-left: 45%;
    height: 100%;
}

.image-slider img {
    width: 100%;
    position: relative;
    object-fit: cover;
    height: 300px;
}


.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}

.titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}
.voir-menu-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.voir-menu-btn:hover {
    background-color: #45a049;
}

.titre2{
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 40%;
    height: 100%;
}
.images{
    right: 22%;
}
.images img{
    height: 500px;
}
.localisation {
    padding-left: 50%;

    margin-bottom: 20px;
}

.rectangle {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
}

.bottom-bar h3 {
    margin: 0;
    font-size: 23px;
}

.icons img {
    width: 30px;
    height: 30px;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 12%;
}
.icon:hover {
    border-color: green;
}
.round-icon {
    border-radius: 50%;
}

.mid {
    padding-left: 44%;
    position: absolute;
}
.card-footer{
    font-size: 30px;
    margin-right: 60%;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('./saira/SairaSemiCondensed-Black.ttf') format('woff2'),
    url('./saira/SairaSemiCondensed-SemiBold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer-menu li a strong {
    font-weight: bold;
    font-family: 'Saira Semi Condensed', serif;
    transition: color 2s;
    color: #ffffff;
}
.footer-menu li a strong:hover {
    color:limegreen;
    font-size: 45px;
    transition: color 1s;
    transition: font-size 0.5s;
    text-shadow: 0 3px rgb(0, 0, 0)

}
.social-icons li {
    position: relative;
    transition: transform 1s, box-shadow 0.3s;
}

.social-icons li:hover a {
    transform: scale(1.4);
    box-shadow: 0 0 0 3px limegreen;
    transition: 1s;
    background-color: limegreen;
}

.social-icons li:hover a img {
    filter: brightness(0) invert(1);
}

.footer-section li a {
    font-size: 30px ;
    font-family: 'Saira Semi Condensed', serif ;
    text-decoration: none;
    color: #ffffff;
}
.footer-section li a :hover{
    color: limegreen;
    transition: color 1s;
}
.footer {
    width: 100%;
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
}
.footer-section {
    width: 100%;

}
